<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Open Cart Test Regression PW Suite" thread-count="2" verbose="4">
    <listeners>
        <listener class-name="com.mri.listeners.ExtentReportListener" />
    </listeners>
    <test name="Add new Unit">
        <classes>
            <class name="com.mri.testrunner.AddUnitRunner" />
        </classes>
    </test>
</suite>
